body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffdab9;
    background-image: url(https://images.unsplash.com/photo-1517758478390-c89333af4642?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmVhdXRpZnVsJTIwc2t5fGVufDB8fDB8fHww);
    background-size: cover;

}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #ffff00;
    font-style: oblique;
}

